html {
    scroll-behavior: smooth;
}



:root{
    --bg-color:#FFEFD6;
    --white-font:#FFFFFF;
    --orange-font:#DD7F24;
    --border-gredient:linear-gradient(90deg, rgba(140,66,29,1) 0%, rgba(251,230,123,1) 33%, rgba(252,251,231,1) 54%, rgba(247,209,78,1) 77%, rgba(212,160,65,1) 100%);
    
    --bg:#FBE2C0;
    --btn-color:#ed8b00;
    /* --btn-color:#ED8B00; */
    --green-shade:#386A42;
    --light-green:#D9FFE1;
    --black:#11111f;
}
* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}
body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width:768px) {
    p {
        font-size: 16px !important;
    }
}

.container {
    /* max-width: 1140px; */
    margin-inline: auto;
    width: 90%;
}


@media(max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width:1300px) {
    .container{
        max-width: 1240px;
    }
}
.heading{
    /* color: var(--orange-font); */
    margin-bottom: 20px;
    font-size: 3rem;
}
@media (max-width:768px) {
    .heading{
        font-size: 2.2rem;
    }
}
@media (max-width:500px) {
    .heading{
        font-size: 1.6rem;
    }
}
.primary-btn{
    /* height: 30px; */
    border-radius: 20px;
    padding-inline: 50px;
    padding-block: 15px;
    font-size: inherit;
    background-color: var(--btn-color);
    color: var(--white-font);
    transition: .3s ease;
    border: 1px solid transparent;
    margin-block: 15px;
    /* display: block; */
}
.primary-btn:hover{
    background-color: white;
    color: var(--btn-color);
    border-color: var(--btn-color);
}
.secondary-btn{
    /* height: 30px; */
    border-radius: 20px;
    padding-inline: 50px;
    padding-block: 15px;
    font-size: inherit;
    background-color: transparent;
    color: var(--btn-color);
    transition: .3s ease;
    border: 2px solid var(--btn-color);
    margin-block: 15px;
    /* display: block; */
}
.secondary-btn:hover{
    background-color: var(--btn-color);

    color: var(--white-font);
}
.secondary-btn:hover > svg{
    stroke: #fff;
}

/* navbar */
nav{
    background-color: var(--black);
}
nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.logo img{
    width: 100px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1{
    color: var(--btn-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-align: right;
}

.logo h1 span{
    color: var(--white-font);
}
.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}
.secondary-btn svg{
    width: 25px;
    height: 25px;
    stroke: var(--btn-color);
}
.btns a{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

@media (max-width:992px) {
    nav > div{
        flex-direction: column;
        align-items: center;
    }
    .btns a{
        padding-block: 5px;
        margin-block: 0;
    }
    .btns{
        padding-bottom: 10px;
    }
}
@media (max-width:500px) {
    .logo{
        width: 100%;
        justify-content: space-between;
    }
    .logo h1{
        font-size: 1.3rem;
    }
    .btns{
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .btns a{
        width: 100%;
        
    }
   
}
/* navbar end */

/* hero-section */
.hero-section{
    background-image:
                linear-gradient(45deg,
                    rgba(0, 0, 0, 0.482),
                    rgba(0, 0, 0, 0.415)), 
                      url('./assets/bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block:5% ;
}
.hero-container{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    width: 50%;
    color: var(--white-font);
}
.hero-form{
    max-width: 400px;
}
.hero-content h1{
    font-size: 2.5rem;
    line-height: 60px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.hero-content p{
    font-weight: 300;
    line-height: 25px;
    width: 80%;
    margin-bottom: 50px;
    text-align: justify;
}
.hero-content .secondary-btn{
    font-size: 18px;
}
.hero-form form{
    background-color: var(--white-font);
    border-radius: 20px;
    border: none;
    padding-inline: 20px;
    padding-block: 30px;
    text-align: center;
    /* max-width: 400px; */
}
.hero-form form h2{
    margin-bottom: 10px;
}
.hero-form form h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.hero-form form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 5px;
    margin-block: 20px;
}
.hero-form input{
    width: 100%;
    padding-inline:10px;
    padding-block: 10px;
}
.hero-form .primary-btn{
    /* background-color:  green; */
    width: 100%;
}
@media (max-width:992px) {
    .hero-container{
        flex-direction: column;
        gap: 30px;
    }
    .hero-content{
        width: 100%;
        text-align: center;
    }
    .hero-content p{
        margin-inline: auto;
        text-align: center;
    }
}
@media (max-width:767px) {
    .hero-content h1{
        font-size: 2.2rem;
        line-height: 40px;
    }
}
@media (max-width:500px) {
    .hero-content h1{
        font-size: 1.6rem;
    }
}
/* hero-section end */


/* cement-section */
.cement-section{
    padding-block: 1%;
    /* background-color: var(--bg); */
}
.cement-container{
    width: 90%;
}
.cement .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.cement .img-wrapper{
    width: 100%;
    height: 150px;
    /* aspect-ratio: 1/1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cement-section end */

/* why-choose-section */
.why-choose-section{
    /* margin-block: 5%; */
    padding-block: 5%;
    text-align: center;
    background-color: var(--black);
    
}
.why-choose-wrapper .heading{
    color: var(--white-font);
}
.why-choose-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.svg-container svg{
    width: 50px;
    height: auto;
    fill: var(--btn-color);
}
.why-choose{
    padding: 20px;
    text-align: center;
    border: 2px solid gray;
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s ease;
    color: var(--white-font);
}
.why-choose:hover{
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
}
.why-choose span{
    font-weight: 600;
    margin-top: 10px;
    display: block;
}
.why-choose-section a{
    margin-inline: auto;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
@media (max-width:500px) {
    .why-choose-container > div{
        width: calc(50% - 20px)
    }
    .why-choose-container{
        gap: 20px;
    }

}
/* WHY-CHOOSE-enD */

/* package-section */
.package-section{
    padding-block: 5%;
    /* background-image: url(./assets/brick-wall-painted-white.jpg); */
    /* background-image: url(./assets/white-grunge-brick-wall-background.jpg); */
    /* background-image: url(./assets/white-brick-wall-textures-background.jpg); */
    /* background-image: url(./assets/red-brick-wall-pattern-texture.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    text-align: center;
    
}
.heading + span{
    color: var(--btn-color);
    font-size: 18px;
}
.package-wrapper{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px; */
    
}
.package{
    width: 25%;
    min-width: 300px;
    /* border: 1px solid gray; */
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--black);
    
    transition: .5s ease;
}
   
.package .svg-wrapper{
    width: 50%;
    margin-inline: auto;
}
.package .svg-wrapper svg{
    width: 100%;
    height: auto;
    display: inline-block;
}
.third-btn{
    background-color: var(--btn-color);
    padding-block: 10px;
    padding-inline: 20px;
    color: var(--white-font);
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
}
/* package-section end */

/* project-section */
.project-section{
    text-align: center;
    padding-block: 3%;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(27, 0%, 96%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='4' stroke='hsla(37, 0%, 85%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
    
    
}
.project .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    margin-block: 30px;
    background-color: white;
    /* margin-inline: 10px; */
}
.project h3{
    margin-block: 20px;
}
.project p{
    /* background-color: #f6e2d9; */
    margin-top: 20px;
    padding: 10px;
    color: var(--btn-color);
    font-weight: 600;
    
    /* border: 1px solid var(--btn-color); */
}
.project-wrapper{
    margin-top: 20px;
}
.swiper-button-next,
.swiper-button-prev {
    width: 50px !important;
    height: 50px !important;
    background: var(--bg-color);
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    border: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none; /* hide default arrows */
}

.swiper-button-next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);/* add custom next icon */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.swiper-button-prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);/* add custom prev icon */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

/* project-section end */


/* advantages-section */
.advantage-section{
    position: relative;
    /* margin-block:5%; */
    padding-block: 10%;
    background-color: var(--bg);
    text-align: center;
}
.advantage-section::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./assets/house4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    /* z-index: 1; */
}
.advantage-container{
    z-index: 5;
    position: relative;
}
.advantage-container > span{
    color: black;
}
.advantage-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-block: 5%;
}
.aarna, .non-aarna{
    width: 50%;
    /* text-align: center; */
}
.aarna ul, .non-aarna ul{
    padding-left: 20%;
    margin-top: 20px;
}
.aarna li, .non-aarna li{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    color: var(--green-shade);
    font-size: 20px;
    margin-block: 10px;
    text-align: left;
}
.aarna{
    border-right: 3px dotted var(--btn-color);
}
.aarna li img, .non-aarna li img{
    width: 25px;
    height: 25px;
}
@media (max-width:992px) {
    .advantage-wrapper{
        flex-direction: column;
        gap: 30px;
    }
    .aarna, .non-aarna{
        width: 100%;
    }
    .aarna{
        border: none;
    }
    
}
@media (max-width:500px) {
    .aarna ul, .non-aarna ul{
        padding: 0%;
    }
}
/* advantages-section end */


/* about section */

.about-section{
    margin-block: 5%;
    text-align: center;
}
.about-container p{
    margin-top: 10px;
    text-align: justify;
}

/* about section end */

/* steps section */
.steps-section {
    background-color: var(--black);
    padding-block: 5%;
}
.steps-heading .heading{
    color: var(--white-font);
}
.steps-heading{
    text-align: center;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: var(--white-font);
    border-radius: 20px;

}

.steps-card {
    width: 100%;

}

.steps .steps-filter {
    /* padding: 0 15px; */
    /* width: 100%; */
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.steps .steps-filter .filter-item {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    /* border: 1px solid #c0bfbf; */
    line-height: 1.2;
    transition: all 0.3s ease;
    /* width: 220px; */
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    justify-content: center;
    flex-direction: row;
    margin-block: 10px;
    position: relative;
}


.steps .steps-filter .filter-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--btn-color);
    height: 2px;
    transition: all .3s;
}

.steps .steps-filter .filter-item:hover::after {
    width: 50%;
}

.steps .steps-filter .filter-item.active {
    color: var(--btn-color);
}

.steps .steps-filter .filter-item.active::after {
    width: 50%;

}

.steps-item {
    /* width: calc(100% / 3); */
    /* width: 25%; */
    padding-inline: 50px;
    padding-block: 30px;
}

.steps-item-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.steps .steps-item-inner img {
    width: 100%;
}



.steps .steps-item.show {
    animation: fadeIn 0.9s ease;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.steps .steps-item.hide {
    display: none;
}

/*responsive*/
@media(max-width: 992px) {
    .steps {
        flex-direction: column;
    }

    .steps-card {
        width: 100%;
    }

    .steps .steps-filter {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 10px;
        margin-block: 10px;
    }

}

@media (max-width:600px) {
    .steps-item {
        padding-inline: 20px;
    }
}
@media (max-width:500px) {
    .steps .steps-filter{
        flex-direction: column;
    }
    .left{
        margin-right: auto;
        margin-left: 50px;
    }
    .right{
        margin-left: auto;
        margin-right: 50px;
    }
    .steps .steps-filter .filter-item{
        height: unset;
        padding-bottom: 5px;
    }
}



/* .consultation button {
    margin-inline: auto;
    margin-top: 20px;
    display: block;

} */

.consultation .hero-form {
    margin-inline: auto;
    margin-top: 3%;
    
}
.consultation .hero-form form{
    border: 1px solid gray
}




/* experts container */
.expert .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.expert .img-wrapper{
    width: 80%;
    margin-inline: auto;
}

/* book with us container */
.book .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.book .img-wrapper{
    width: 50%;
    margin-inline: auto;
}
/* receive plans */
.plans .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.plans .img-wrapper{
    width: 60%;
    margin-inline: auto;
}
/* key handover */
.handover .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.handover .img-wrapper{
    width: 80%;
    margin-inline: auto;
}
/* track and transit */
.track .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.track .img-wrapper{
    width: 50%;
    margin-inline: auto;
}

/* ********** */

/* faq-section */

.faq-container {
    
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.faq {
    margin-bottom: 10px;
}

.faq-question {
    background-color: whitesmoke;
    
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    transition: background 0.3s;
}

.faq-question:hover {
    background: rgb(223, 222, 222);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;
    background: #f1f1f1;
    border-left: 2px solid var(--btn-color);
    border-radius: 0 0 4px 4px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-toggle {
    font-size: 24px;
}



/*footer  */
footer{
    background-image: url(./assets/footer-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-font);
    padding-block: 5%;
}
.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}
.contact a svg{
    stroke: #DD7F24;
    width: 35px;
    fill: var(--btn-color);
}
.contact a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact h2{
    color: var(--btn-color);
}
.footer-logo .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.footer-logo .img-wrapper{
    max-width: 300px;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.social-media a svg{
    stroke: #ED8B00;
    width: 30px;

}
@media (max-width:767px) {
    .footer-container > div{
        width: 100%;

    }
    .footer-container{
        justify-content: center;
        text-align: center;
    }
    .contact a{
        justify-content: center;
    }
    .footer-logo .img-wrapper{
        margin-inline: auto;
    }
    }